<footer class="footer">
    <div class="footer-content">
      <p>&copy; {{ currentYear }} Mary Merisha. All rights reserved.</p>
      <div class="footer-links">
        <a href="https://github.com" target="_blank">https://github.com/merisha1512</a>
        <a href="https://www.linkedin.com/in/mary-merisha-m-99075b227/" target="_blank">https://www.linkedin.com/in/mary-merisha-m-99075b227/</a>
        <a href="mailto:your.email@example.com">marymerisha15&#64;gmail.com</a>
      </div>
    </div>
  </footer>
  